.capital-case {
    text-transform: capitalize;
}

.tab-pane {
    width: 60%;
}

.capital-bold {
    text-transform: capitalize;
    font-weight: bold;
}

.strike {
    text-decoration: line-through;
    color: #008000;
}