/*


*/


/* Global Styles */

.capital-case {
    text-transform: capitalize;
}

hr {
    height: 1px;
    background-color: #008080;
    text-align: center;
    width: 50%;
    border: 1px dotted #eef;
}

h2 {
    text-align: center;
    color: #ff0088;
}

h4 {
    text-align: center;
    color: #008080;
}

h5 {
    background: #ff0088;
}

.group-head {
    background: #eef;
    text-align: center;
    padding: 7px;
    color: #ff0088;
}

.box-icon {
    height: 30px;
    width: 30px;
    background-color: red;
}


/* todo form */

.todo-form-box {
    min-width: 100vw;
    background-color: #eef;
    padding: 25px;
    text-align: center;
}

.input-todo-text {
    text-transform: capitalize;
    font-weight: bold;
    display: inline-block;
    height: 40px;
    border: 1px solid #008080;
    outline: 0;
    padding: 0 5px;
    width: 50%;
}

.input-date {
    font-weight: 600;
    text-align: center;
    border: 1px solid #fff;
    border: 1px solid #008080;
    height: 40px;
    margin: 0;
    padding-left: 1px;
    background: #fff;
    color: #008080;
    text-transform: uppercase;
}

.submit-btn {
    color: #fff;
    outline: 0;
    border: 0;
    margin: 0;
    background: #008080;
    padding: 0 14.5px;
    text-align: center;
    height: 40px;
    width: 155px;
}


/* todo tasks */

ul {
    list-style-type: none;
}

.strike {
    text-decoration: line-through;
    color: #008000;
}


/*dashboard */

.dashboard {
    background-color: #eaf;
}