body{
    margin: 0;
    padding: 0;
    /*
03a9f4
    */
}
 .container{
     background-color: #eceff0;
      
 }
.banner{
    background-color:#989090;
    color:#fff;
    text-align: center;
    padding:20px;
    
}
 
.filter-bar{
    
    height: 50px;
    background-color:#ff9098;
          
}
.filter-bar>p{
    line-height: 45px;
    text-align: center;
margin-top:0;
    color:#fff;
    font-weight: bold;
}
.filter-bar>p>a{
    text-decoration: none;
     color:#800;
}
.filter-bar>p>a:active{
    color:#fff;
}
.filter-bar>p>a:visited{
    color:#2ff;
}
 

.content-right{
    width:65%;
    margin: 20px 10px;
    border:2px solid #03a9f4;
    border-radius:22px;
    padding:7px;
}
.todo-head{
    background-color: #03a9f4;
    padding:1px;
    text-indent: 3;
    color:#fff;
}
.todo-head>p{
    margin-left:10px;
}
.todo-items{
    padding:0 20px;
}
.todo-items #addTodo{
    padding: 10px;
    margin: 10px;
    width: 40%;
    color:#800080;
}
.todo-items .items{
    list-style-type: none;
}
.items li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.task-title{
flex:2;
}
.start,.end{
    flex:1;
    margin:0 10px;
    
}
.start{
    color:#2ff;
}
.end{
    color:#800;
}
.task-delete{
    flex:0.1;
    text-align: center;

}
.items li:nth-child(even){
   background:#ff9098;
     margin: 5px;
     padding: 10px;
     color:#fff;
     text-transform: capitalize;
}
.items li:nth-child(odd){
      background-color: #989090;  
      margin: 5px;
      padding: 10px;
      color:#fff;
      text-transform: capitalize;
 }
 
 .strike{
    text-decoration: line-through;
    text-decoration-color:#800;
    text-decoration-line: solid;
     
} 

#toggle-label{
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
     
}
.task-delete{
    float:right;
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: lowercase;
    color:#fff;
    background:#800;
    border:1px solid #2ff;
    padding:0 5px;
}
.task-delete:hover{
    font-weight: bold;
    color:#fff;
    background: #989090;
    text-transform: uppercase;
}
.date{
    margin-left:25px;
}

 
